

.card {
  border: solid #ccc;
  display: flex;
  flex-direction: column; /* Stack elements vertically on small screens */
  width: 100%; /* Card takes the full width of its parent container */
  height: 20%;
  border-radius: 8px;
  overflow: hidden; /* Ensures that any overflowing parts of the image are hidden */
}

.card-image-container {
  display: flex;
  width: 100%; /* Container takes 50% of the card's width */
  position: relative;
  overflow: hidden; /* Prevents the image from exceeding the container's dimensions */
}

.card-image {
  width: 100%; /* Image fills the width of its container */
  height: auto; /* Image fills the height of its container */
  object-fit: cover; /* Ensures the image covers the area without distorting aspect ratio */
  object-position: center; /* Centers the image within the element's box */
  display: block;
}

.card-description {
  width: 70%; /* Matches the image container width */
  height: 20vh; /* Matches the image container height */
  padding: 15px;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.overlay-text {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

/* For larger screens, place image and description side by side */
@media (min-width: 768px) {
  .card {
    flex-direction: row; /* Side-by-side layout on larger screens */
  }
  .card-image-container {
    width: 40%;
  }
  .card-description {
      width: 60%;
      height: auto; /* Adjust height for larger screens */
  }

}
