
.card {
  max-width: 100px; /* Set maximum card width */
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card-image {
  width: 40vw;
  height: auto;
}

.card-description {
  padding: 20px;
}
