/* This styles things inside the home page.*/
/* Home.css */
.home-page {
  padding-top: 20px; /* Adjust according to navbar height */
}

.hero {
  position: relative;
  width: 100%;
  height: 33vh; /* 1/3 of the viewport height */
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff; /* Text color */
}

.hero-title {
  font-size: 3rem; /* Adjust as needed */
  margin-bottom: 10px; /* Adjust spacing */
}

.hero-subtitle {
  font-size: 1.5rem; /* Adjust as needed */
}


/* Home.css */
.card-section {
  max-width: 20%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px; /* Adjust spacing */
}

.card-list {
  list-style-type: none;
  display: flex;
}
