/* home.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Hero Section */
.hero-section {
  background-image: url('/public/images/hero.jpeg');
  background-size: cover;
  background-position: center;
  height: 30vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

/* Styling for the cards container */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards in the container */
  padding: 20px;
  gap: 20px; /* Space between cards */
}

.main-content {
  margin-bottom: 50px;
}


