/* home.css */

/* Hero Section */
.hero-section {
  background-image: url('/public/images/kitchen_wide.webp');
  background-size: cover;
  background-position: center;
  height: 30vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  text-align: center;
}

/* Styling for the cards container */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards in the container */
  padding: 20px;
  gap: 20px; /* Space between cards */
}

.main-content {
  margin-bottom: 50px;
}


