/* Navbar.css */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it's above other content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* light blue background-color: #68c7c5;  Match your color scheme */
  background-color: #161a1d;
  padding: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
}


.navbar-right {
  display: flex;
  align-items: center;
}


.navbar-center {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}


.logo {
  width: 50px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}

.title {
  color: #fefdf1; /* Match your color scheme */
  font-size: 1.2rem; /* Adjust font size */
  margin-right: 20px; /* Adjust spacing between logo/title and nav links */
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Ensure nav links are horizontally aligned */
}

.navbar-links li {
  margin-right: 20px; /* Adjust spacing between links */
}

.phone-btn {
  display: right;
  background-color: #4a5960; /* Match your color scheme */
  color: #fefdf1; /* Match your color scheme */
  padding: 10px 20px; /* Adjust padding */
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.hamburger-btn {
  background-color: transparent;
  color: #fefdf1; /* Match your color scheme */
  border: none;
  font-size: 1.5rem; /* Adjust font size */
  cursor: pointer;
}

/* Small screens */
@media (max-width: 768px) {
  .title {
    display: None;
  }
  .logo {
    display: flex;
  }
  .hamburger-menu {
    display: flex;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-right {
    display: flex
  }
  .navbar-links {
    display: none; /* Hide title and nav links */
  }
  .phone-btn {
    display: flex; /* Show phone button */
    margin: 0 auto; /* Center the phone button */
  }
}

/* Medium and Large screens */
@media (min-width: 769px) {
  .logo {
    display: center;
  }
  .title {
    display: flex;
  }
  .navbar-right,
  .navbar-links {
    display: navbar-center; /* Ensure title and nav links are horizontally aligned */
  }
  .phone-btn {
    display: flex;
    margin: 0 auto; /* Center the phone button */
  }
  .navbar-center {
    display: none;
  }
}
