/* App.css */
@media screen and (min-width: 768px) {
  .App {
    max-width: 768px; /* Adjust max-width for tablets and larger screens */
  }
}

@media screen and (min-width: 1024px) {
  .App {
    max-width: 1024px; /* Adjust max-width for desktop screens */
  }
}

@media screen and (min-width: 1440px) {
  .App{
    max-width: 1440px; /* Adjust max-width for large desktop screens */
  }
}

