
img {
    overflow-clip-margin: content-box; /* default value */
    overflow: hidden; /* default for img elements */
    /* overflow-x and overflow-y are not typically needed for img elements */
}

.body {
  width: auto;
  height: auto;
  margin: 0;
}


